* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    background: rgb(234, 232, 232);
}

.container {
    background: #fff;
    max-width: 100%;
    margin: 0 auto;
}

/* Criando o Header */
header {
    background: brown;
    /* Altura */
    height: 130px;
    border-bottom: 3px solid orangered;
    /* Flexbox */
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: brown;
    list-style-type: none;

    text-transform: uppercase;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.nav li {
    background-color: brown;
    border: 1px solid orangered;
    padding: 10px;


    width: 100%;

    text-align: center;
}

.nav li a {
    text-decoration: none;
    color: brown;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

header img {
    margin-left: 15px;
    margin-right: 20px;
}

header h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
}

.contentBox {
 
    display: flex;
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-top: 20px;
}

.containerDestaque{
   margin: 31px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.promocao{
    background-color: #F24444;
    padding: 35px;
    margin-top: 15px;
}

.box {
    max-width: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.418);
}

.box img {
    border-bottom: 2px solid orangered;

}

.box p {
    padding: 10px;
    text-align: center;

}

.box a {
    text-align: center;
    padding: 5px 5px 5px 5px;
    display: block;
    color: brown;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

}

.box a:hover {
    background-color: brown;
    color: white;
}